* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 2000px;
}

.mainimage {
    background-image: url("https://a-static.besthdwallpaper.com/runeterran-evelynn-league-of-legends-lol-wallpaper-3440x1440-102105_15.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.secondimage {
    display: flex;
    align-items: center;
    justify-content: center;
    height:1500px;
    background-image: url(https://images.hdqwalls.com/wallpapers/fortnite-arcane-jinx-lol-4k-0u.jpg);

}

.hexcolor {
    height:1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: text-top;
    transition: all 0.5s ease;
    

    
}

.hexbutton {
    background-color: moccasin;
    padding: 25px 40px;
    border: none;
    border-radius: 3px;
    font-size: larger;
    margin-top: 50px;
    transition: all 0.5s ease;
    box-shadow:0px 0px 20px 10px black ;
}

.hexbutton:hover {
    background-color: rgb(222, 49, 84);
}

.hextext {
    font-size: 100px;
    font-family: 'Tajawal', sans-serif;
}


.p {
    font-size: 75px;
    font-family: 'Tajawal', sans-serif;
    margin-bottom: 100px; 

}


.splide__slide {
    width: 100%;
    height: auto;
    padding: 100px;
    
   

   


}

.splide__slide img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
      
}
    



.splide_track {
    display: flex;
    align-items: center;
    justify-content: center;
}

.splide {
    margin:1000px 300px;

}

.splide .splide__arrow {
    
    margin: 160px px;
    
}


h2 {
    font-family: 'Tajawal', sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: black;
    height:85px;
    width: 100%;
    z-index:99;
    overflow: hidden;
    
}


div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    
}

li a {
    color:white;
    display: block;
    margin-top:15px;
    padding: 10px 25px;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
    font-size:25px;
    transition: all 0.5s ease;
    border-color: blueviolet;
}

a:hover {
    background-color: rgb(31, 0, 102);
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background-color: rgb(14, 14, 15);
  }

::-webkit-scrollbar-thumb {
    background-color: rgb(66, 66, 66);
  }







