<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/splide-default.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
    </style>
    <title>parallax</title>
</head>
<body>
        <div class="navbar">
            <ul>
                <li><a href="#1st">Evelynn</a></li>
                <li><a href="#image-carousel">Sliders</a></li>
                <li><a href="#3rd">HexCode</a></li>
                <li><a href="#4th">Quotes generator</a></li>
                <li><a href="#5th">Pass the message</a></li>
                <li><a href="https://github.com/Zaleskar/sites.git" style="color:skyblue">Git</a></li>
            </ul>
        </div>
    <div class="mainimage" id="1st"><img src="../images/1.png" data-speed="2" class="image"></div>
    <div class="secondimage" id="2nd">
        <div id="image-carousel" class="splide" aria-label="Beautiful Images">
            <div class="splide__track">
                  <div class="splide__list">
                      <div class="splide__slide">
                        
                        <h2>Jinx 1</h2>
                          <img src="../images/2.png" style="width:1300px; height:700px" alt="">
                      </div>
                      <div class="splide__slide">
                        <h2>Jinx 2</h2>
            
                          <img src="../images/3.png" alt="">
                      </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="hexcolor" id="3rd">  
        <div class="container">
            <h1 class="hextext">Hex Generator</h1>
            <h1 class="hexcode-text">Hex code is: #<span class="hexcode">000000</span></h1>      
            <button class="hexbutton" onclick="changeColor()">Generate random hexcode and color</button>

        </div>  
        
    </div>   
    <div class="quotes" id="4th">
        <div class="container">
            <h1 class="quotes-text">Quotes generator</h1>
            <div class="border">
                <p class="actual-quotes" style="font-style:italic">“I'm selfish, impatient and a little insecure.”</p>
                <span class="quotes-name"></span>
            </div>
            <button class="quotes-button" onclick="generateQuote()">Next Quote</button>
        </div>
    </div>
    <div class="message-pass" id="5th">
        <div class="container">
            <h1 class="message-text" style="font-size:80px; color:white;">Pass the message</h1>
            <div class="border1">
                <h1 class="enter-msg">Enter a message</h1>
                <input id="message" type="text" style="border-radius: 15px; font-size: 40px;"></input>
                <button class="msg-button" onclick="PassMessage()" style="background-color: rgb(177, 177, 177);">Submit</button>       
            </div>
            <div id="p-div"><p id="output-msg"></p></div>
        </div>
    </div>
<script src="../js/main.js"></script>
<script src="../js/splide.min.js"></script>  
<script>
    new Splide( '#image-carousel'  
       
    ).mount();
</script>

</body>
</html>